[submodule "Glory"]
	path = Glory
	url = https://github.com/1ndoryu/Glory.git
[submodule ".agent/code-sentinel"]
	path = .agent/code-sentinel
	url = https://github.com/1ndoryu/glory-sentinel.git
[submodule ".agent/varsense"]
	path = .agent/varsense
	url = https://github.com/1ndoryu/varsense.git
[submodule ".agent/coolify-manager"]
	path = .agent/coolify-manager
	url = https://github.com/1ndoryu/coolify-manager.git
[submodule ".agent/coolify-manager-rs"]
	path = .agent/coolify-manager-rs
	url = https://github.com/1ndoryu/coolify-manager-rs.git
